<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAIN</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>

  <script>
    getReviews();

    function getReviews() {
      $.ajax({
        type: 'GET',
        url: '/api/room',
        data: {},
        success: function (response) {
          const rooms = response.rooms;

          for (let i = 0; i < rooms.length; i++) {
            console.log(rooms[i].name);
            console.log(rooms[i].price);
            console.log(rooms[i].image);

            tempHtml = `<h3>${rooms[i].name}</h3><h3>${rooms[i].price}</h3><img src="${rooms[i].image}">`;
            $('#abc').append(tempHtml);
          }
        },
      });
    }

    function postReview() {
      $.ajax({
        type: 'POST',
        url: '/api/room',
        data: {
          name,
          image,
          price,
        },
        success: function (response) {
          console.log(response);
        },
      });
    }
  </script>
  <body>
    <div id="abc">
      <h3></h3>
    </div>
  </body>
</html>
